@use 'app/styles/mixins' as *;

.toggle {
  @include mq('sm') {
    @include button-rounded('sm');
  }
}

.label {
  @include mq('sm') {
    display: none;
  }
}

.icon--light {
  color: var(--type-fire);
}

.icon--dark {
  color: var(--secondary);
}
